.nutrition-value {
	background: #fbfbfb;
	border-radius: 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	width: 100%;
	max-width: 300px;

	img {
		width: 60px;
	}

	&__content {
		width: calc(100% - 80px);

		&--number {
			color: $title-color;
			font-weight: 700;
		}

		&--type {
			color: $sub-title-color;
		}
	}
}
