$primary-color: #ff0101;
$title-color: #282d30;
$sub-title-color: #74798c;
$header-footer-color: #000000;

$phone-breakpoint: 768px;
$tablet-breakpoint: 1024px;

$max-width-screen: 1080px;

$menu-height: 75px;
