html {
	font-size: 62.5%;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	min-height: 100vh;
}

li,
ul,
ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
	height: auto;
}

a,
a:hover {
	text-decoration: none;
	color: $primary-color;
}

.corps-page {
	// width: calc(100% - 115px - calc($menu-height + 10px));
	// max-width: 80%;
	margin: calc($menu-height + 10px) 10px 10px 115px;
	z-index: 1;
}
